// ***********************************
// FONTS
// ***********************************

@font-face {
  font-family: 'Caecilia LT Pro 55 Roman';
  src: url('../fonts/Linotype - CaeciliaLTPro-55Roman.eot');
  src: url('../fonts/Linotype - CaeciliaLTPro-55Roman.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Linotype - CaeciliaLTPro-55Roman.woff') format('woff'),
     url('../fonts/Linotype - CaeciliaLTPro-55Roman.ttf')  format('truetype'),
     url('../fonts/Linotype - CaeciliaLTPro-55Roman.svg#c330239272c5272c6fc476a7a1d89a22') format('svg');
    
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Caecilia LT Pro 45 Light';
  src: url('../fonts/Linotype - CaeciliaLTPro-45Light.eot');
  src: url('../fonts/Linotype - CaeciliaLTPro-45Light.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Linotype - CaeciliaLTPro-45Light.woff') format('woff'),
     url('../fonts/Linotype - CaeciliaLTPro-45Light.ttf')  format('truetype'),
     url('../fonts/Linotype - CaeciliaLTPro-45Light.svg#f1fb684f5d946f210754ad12cf95f1ea') format('svg');
    
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Trade Gothic LT Std';
  src: url('../fonts/TradeGothicLTStd.eot');
  src: url('../fonts/TradeGothicLTStd.eot?#iefix') format('embedded-opentype'),
     url('../fonts/TradeGothicLTStd.woff') format('woff'),
     url('../fonts/TradeGothicLTStd.ttf')  format('truetype'),
     url('../fonts/TradeGothicLTStd.svg#baa2b4336bfeb9872a50f10bdb06e378') format('svg');
    
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Trade Gothic LT Std Obl';
  src: url('../fonts/TradeGothicLTStd-Obl.eot');
  src: url('../fonts/TradeGothicLTStd-Obl.eot?#iefix') format('embedded-opentype'),
     url('../fonts/TradeGothicLTStd-Obl.woff') format('woff'),
     url('../fonts/TradeGothicLTStd-Obl.ttf')  format('truetype'),
     url('../fonts/TradeGothicLTStd-Obl.svg#cb35112c9d85c27fd673d5a23d3f883c') format('svg');
    
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Trade Gothic LT Std Bold';
  src: url('../fonts/TradeGothicLTStd-Bold.eot');
  src: url('../fonts/TradeGothicLTStd-Bold.eot?#iefix') format('embedded-opentype'),
     url('../fonts/TradeGothicLTStd-Bold.woff') format('woff'),
     url('../fonts/TradeGothicLTStd-Bold.ttf')  format('truetype'),
     url('../fonts/TradeGothicLTStd-Bold.svg#c1d3633691e9c5760d75ea5ff51c9393') format('svg');
    
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Trade Gothic LT Std Light';
  src: url('../fonts/TradeGothicLTStd-Light.eot');
  src: url('../fonts/TradeGothicLTStd-Light.eot?#iefix') format('embedded-opentype'),
     url('../fonts/TradeGothicLTStd-Light.woff') format('woff'),
     url('../fonts/TradeGothicLTStd-Light.ttf')  format('truetype'),
     url('../fonts/TradeGothicLTStd-Light.svg#0f50e3a4ad6f4ba6047d6df7e537a8fb') format('svg');
    
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Trade Gothic LT Std Light Obl';
  src: url('../fonts/TradeGothicLTStd-LightObl.eot');
  src: url('../fonts/TradeGothicLTStd-LightObl.eot?#iefix') format('embedded-opentype'),
     url('../fonts/TradeGothicLTStd-LightObl.woff') format('woff'),
     url('../fonts/TradeGothicLTStd-LightObl.ttf')  format('truetype'),
     url('../fonts/TradeGothicLTStd-LightObl.svg#2cb845808a4d2fafaee1755dd46bea53') format('svg');
    
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Trade Gothic LT Std Cn 18';
  src: url('../fonts/TradeGothicLTStd-Cn18.eot');
  src: url('../fonts/TradeGothicLTStd-Cn18.eot?#iefix') format('embedded-opentype'),
     url('../fonts/TradeGothicLTStd-Cn18.woff') format('woff'),
     url('../fonts/TradeGothicLTStd-Cn18.ttf')  format('truetype'),
     url('../fonts/TradeGothicLTStd-Cn18.svg#4a2dcf9aedd16ea80255ec374529e2b0') format('svg');
       
  font-style:   normal;
  font-weight:  400;
}



